#footer {
  background: #f2f2f2;

  .footer {
    display: flex;
    justify-content: space-between;
    padding: 15px 70px 70px;

    h3 {
      color: #333333;
      font: 500 19px "Barlow", sans-serif;
      text-transform: uppercase;
      letter-spacing: 1.52px;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 10px;

        a {
          @include font_footer();
          text-decoration: none;
        }
      }

      a:hover {
        color: #4e4e4e;
      }
    }

    .email {
      font-size: 0;
      .btn {
        padding: 8px 15px;

      }
    }

    .join {

      form {
        display: flex;
        flex-direction: column;
        .agree {
          @include font_footer();
          a {
            text-decoration: none;
          }
        }

      }

      .social-icon {
        margin-top: 85px;
        li {
          display: inline-block;
          margin-right: 20px;

          a {
            color: #0d84e3;

            i {
              font-size: 30px;
            }
          }

          a:hover {
            color: #0d5fb1;
          }

        }
      }

    }
  }

}


