.about_section_1 {
  padding: 28px 67px 75px 84px;
  text-align: center;
  position: relative;

  .dark-h1 {
    margin-bottom: 57px;
  }

  .content_gorizontal {
    text-align: left;
    display: flex;
    justify-content: space-between;


    .content_vertical {
      display: flex;
      flex-direction: column;
      max-width: 525px;

      .sub_title {
        color: $font-color-2;
        font: 500 25px/30px "Barlow", sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
        max-width: 415px;
        padding-top: 15px;
        margin-bottom: 40px;
      }
      .right {
        text-align: right;
        margin-bottom: 40px;
        z-index: 2;
      }
      .image-title {
        color: $font-color-2;
        font: 500 16px/24px "Barlow", sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.32px;
        text-align: center;
        max-width: 465px;
        margin-top: 25px;
      }
    }
  }

}

.about_section_1:after {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  display: block;
  height: 40%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}